.defra-flood-status {
    padding-bottom:10px;
}
.defra-flood-status-item {
    position:relative;
    display: table;
    width:100%;
    box-sizing: border-box;
    padding:0px;
    margin-top:0px;
    margin-bottom:10px;
    &:last-of-type {
        margin-bottom:5px;
    }
    &__text {
        display: table-cell;
        vertical-align: middle;
        width:100%;
        padding:15px 15px 15px 0px;        
    }

    &__text-secondary {
        display: block;
    }
    .defra-flood-status-item__text:first-child {
        padding:15px 20px 15px 20px;
    }
    .defra-flood-status-item__icon {
        display: table-cell;
        vertical-align: middle;
        padding: 7.5px 10px;  
        }
        svg {
            vertical-align: middle;
            width: 40px;
            height: 40px;
           
        }
    }

.defra-flood-status-item--severe {
    background-color: mix(white, #e3000f, 80%);
    border-color:#e3000f;
}
.defra-flood-status-item--warning {
    background-color: mix(white, #e3000f, 80%);
    border-color:#e3000f;
}
.defra-flood-status-item--alert {
    background-color: rgb(253.6, 243, 229.5);
    border-color:#f18700;
}
 
.defra-flood-status-item--removed {
    .defra-flood-status-item__icon:after {
        background-position: 100% 75%;
    }
}

