.defra-flood-statistics {
    // border-top: 1px solid $govuk-border-colour;
    // border-bottom: 1px solid $govuk-border-colour;
    &__list {
        margin:0;
    }
    &__list:after {
        content:'';
        display:block;
        clear:both;
    }
    &__column-one-quarter,
    &__column-one-third {
         
            width:25%;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            float:left;
        
    }
    &__column-one-third {
       
            width:33.33%;
        }
    
    &__key {
        padding-top: 20px;
        margin-bottom: 5px;
    }
    &__value {
        // color: govuk-colour('blue');
        margin:0;
        display: block;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    &__value::first-letter {
        margin-left: -0.075em;
    }       
    &__data-tip:focus {
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    &__value-detail {
        margin-top: 5px;
        display: block;
    }
}
