    <br clear="all">
  <div style="margin: 0px;"> 
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Download data csv (12KB)</button>
          <a href="#" class="defra-button-secondary defra-button-secondary--icon govuk-!-margin-bottom-4" download="">
        <span class="defra-button-secondary__icon">
          <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20" style="padding-right: 0px; left: 4px; margin-top: 0px; ">
            <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
          </svg>
        </span>
        <span class="defra-button-secondary__text">Download data CSV (12KB)</span>
      </a>
  </div>