
{% extends "../layouts/main.html" %}

{% block pageTitle %}
{% if model.isError %}Error: {% endif %}Find location - Check for flooding - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">
			Beta
		</strong>
		<span class="govuk-phase-banner__text">
			This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
		</span>
	</p>
</div>
{% endblock %}

{% block content %}
 


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Find river, sea, groundwater and rainfull levels
    </h1>
 
 
<div class="defra-search govuk-form-group govuk-!-margin-bottom-6">
  <form method="post" autocomplete="off" action="river-and-sea-levels-york">
    <label class="govuk-label defra-search__label" for="location">
      Search river, town or postcode
    </label>
    <div class="defra-search__container">
      <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="">
      <div class="defra-search__submit-container">
        <button class="defra-search__button">
          <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect x="0" y="0" width="50" height="50" style="fill:none;"/><path d="M12.316,14.791c-1.242,0.79 -2.716,1.248 -4.296,1.248c-4.426,0 -8.02,-3.593 -8.02,-8.019c0,-4.426 3.594,-8.02 8.02,-8.02c4.426,0 8.019,3.594 8.019,8.02c0,1.58 -0.458,3.054 -1.248,4.296l5.209,5.209l-2.475,2.475l-5.209,-5.209Zm-4.296,-12.771c3.311,0 6,2.688 6,6c0,3.311 -2.689,6 -6,6c-3.312,0 -6,-2.689 -6,-6c0,-3.312 2.688,-6 6,-6Z" style="fill:white;"/></svg>
          <span class="govuk-visually-hidden">Search</span>
        </button>
      </div>
    </div>
  </form>
</div>
   
    
<!-- Button: view map of levels -->
  <a href="#" role="button" data-module="govuk-button" id="map-live-btn" class="defra-button-secondary">
    <span class="defra-button-secondary__icon">
      <svg focusable="false" width="15" height="20" viewBox="0 0 15 20">
        <path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z">
        </path>
      </svg>
    </span>
    <span class="defra-button-secondary__text">View map of levels</span>
    <span class="govuk-visually-hidden">(Visual only)</span></a>     
    
<!-- End Button: view map of levels -->
<br><br>
</div>
 
 <div class="govuk-grid-column-two-thirds"> 
    <aside class="defra-context-footer">
    <div>
       <header class="govuk-heading-m">Contact Floodline for advice</header>
       <p>
          <strong>Floodline helpline</strong>
          <br>Telephone: 0345 988 1188
          <br>Textphone: 0345 602 6340
          <br>Open 24 hours a day, 7 days a week
          <br>
          <a href="https://gov.uk/call-charges">Find out more about call charges</a>
       </p>
       
       <p class="govuk-!-margin-bottom-0">
          <strong>Talk to a Floodline adviser over webchat</strong>
          <br> We're running webchat as a trial.<br>
		          <a href="#">Start chat</a>
       </p>

    </div>
 </aside>
 
    <div class="defra-related-items">
  <h2 class="govuk-heading-s" id="subsection-title">
    Related content
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      
      <li>
        <a class="govuk-link"  href="https://www.gov.uk/sign-up-for-flood-warnings">
          Get flood warnings by phone, text or email
        </a>
      </li>
      
      <li>
        <a class="govuk-link" href="https://www.gov.uk/prepare-for-flooding">
          Prepare for flooding
        </a>
      </li>
      <li>
        <a class="govuk-link" href="https://www.gov.uk/help-during-flood">
          What to do before or during a flood
        </a>
      </li>
      <li>
        <a class="govuk-link" href="https://www.gov.uk/after-flood">
          What to do after a flood
        </a>
      </li>
      
      <li>
        <a class="govuk-link" href="https://www.gov.uk/report-flood-cause">
          Report a flood
        </a>
      </li>
    </ul>
  </nav>
</div>

</div>


{% endblock %}

