{% extends "layouts/main.html" %}

{% set title = 'Check for flooding' %}
{% set pageName="Home" %}
{% set pageName = title + ' - GOV.UK'%}
{% set back = false %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
 
    <h1 class="govuk-heading-xl">
      {{ serviceName }}  
      <span class="govuk-caption-l">Using GOV.UK Prototype Kit v13.18.1</span>
    </h1>

    <h2 class="govuk-heading-m" id="progress">
      Design team contacts:
    </h2>
    <p class="govuk-body">Interaction designer - <a href="mailto:martin.gray@defra.gov.uk">Martin Gray</a><br>
       Content designer - <a href="mailto:poppy.davis@defra.gov.uk">Poppy Davis</a><br>
       User researcher - <a href="mailto:jacqueline.buckley@defra.gov.uk">Jacqueline Buckley</a><br>
      </p>
    <p><a href="/manage-prototype">Manage the prototype</a> </p>
    <h2 class="govuk-heading-m" id="progress">
      Latest versions:
    </h2>
 
  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Journey",
        classes: "govuk-!-width-one-fourth"
      },
      {
        text: "Links"
      },
      {
        text: "Notes",
        classes: "govuk-!-width-one-half"
      }
    ],
    rows: [
         
      [
        {
         html: "<p class='govuk-body'><b><a href='version1/'>Version 1</a></b></p>"
        },
        {
         html: "<li><a href='#' target='new' class='govuk-body'>Jira ticket number</a> </li>
                <li><a href='#' target='new' class='govuk-body'>Mural</a></li>"
        },
        {
         html: "<p class='govuk-body'>Initial build to test prototype kit. </p>
          "
        }
      ] ,
      [
        {
         html: "<p class='govuk-body'><b><a href='date-test/pickdate' >Date filter test</a></b></p>"
        },
        {
         html: "<li><a href='https://govuk-prototype-filters.x-govuk.org/date/' target='new' class='govuk-body'>X Gov date filter</a> </li>
                 "
        },
        {
         html: "<p class='govuk-body'>Page to show the X gov date filter working. </p>
          "
        }
      ]
      ,
      [
        {
         html: "<p class='govuk-body'><b> Chart tests </b></p>"
        },
        {
         html: "<li><a href='version1/station/8209' target='new' class='govuk-body'>Simple-line chart</a> </li>
                <li><a href='version1/station/line-chart' target='new' class='govuk-body'>Multi-line chart from hosted csv</a> </li>
                <li><a href='version1/station/bar-chart' target='new' class='govuk-body'>Multi-bar chart from hosted csv</a> </li> 
                 <li><a href='version1/station/area-chart' target='new' class='govuk-body'>Area chart from hosted csv</a> </li>
                  <li><a href='version1/station/5day-chart' target='new' class='govuk-body'>5 day chart to test with cross hair</a> </li>
                    <li><a href='version1/station/cheddar-5days' target='new' class='govuk-body'>Cheddar Gorge pages V1</a> </li> "
        },
        {
         html: "<p class='govuk-body'>Chart.js work - Pages displaying chart data, bar/line/area. Using a hosted CSV or option to upload own CSV.</p>
          "
        }
      ]
      ,
      [
        {
         html: "<p class='govuk-body'><b> Version 2 -  </b></p>"
        },
        {
         html: "<li><a href='version2/station/cheddar-5days' target='new' class='govuk-body'>Cheddar Gorge pages V2</a> </li> "
        },
        {
         html: "<p class='govuk-body'>Prototype using Cheddar Gorge data to show historic data and chart zoom for User Research Round2.</p>
          "
        }
      ]
       
    ]
  }) }}
</section> 
  <!--
  <h2 class="govuk-heading-m" id="progress">
  Previous versions:
</h2> 
   
{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Journey",
      classes: "govuk-!-width-one-fourth"
    },
    {
      text: "Links"
    },
    {
      text: "Notes",
      classes: "govuk-!-width-one-half"
    }
  ],
  rows: [
    [
      {
       html: "<a href='date-test/'>Date filter test</a>"
      },
      {
       html: "<li><a href='https://jira.tools.tax.service.gov.uk/browse/STOSB-321' target='new'>Jira STOSB-321</a> </li>
              <li><a href='https://app.mural.co/t/digitalhmrc9032/m/digitalhmrc9032/1733478300947/7733b93cc94d0ef9d82e16d7f353f86dff1051f7?wid=0-1737543850298' target='new'>Mural</a></li>"
      },
      {
       html: "Passing submited date and using date filters to add or subtract days for deadlines.</a>"
      }
    ]     
    ]
    
      }) }}
 -->
  </div>
</div>

{% endblock %}
