{% extends "layouts/main.html" %}

{% set title = 'Check for flooding' %}
{% set pageName="Home" %}
{% set pageName = title + ' - GOV.UK'%}
{% set back = false %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
 
    <h1 class="govuk-heading-xl">
      {{ serviceName }}  
      <span class="govuk-caption-l">Using GOV.UK Prototype Kit v13.18.1</span>
    </h1>

    <h2 class="govuk-heading-m" id="progress">
      Design team contacts:
    </h2>
    <p class="govuk-body">Interaction designer - <a href="mailto:martin.gray@defra.gov.uk">Martin Gray</a><br>
       Content designer - <a href="mailto:poppy.davis@defra.gov.uk">Poppy Davis</a><br>
       User researcher - <a href="mailto:jacqueline.buckley@defra.gov.uk">Jacqueline Buckley</a><br>
      </p>
    <p><a href="/manage-prototype">Manage the prototype</a> </p>
    <h2 class="govuk-heading-m" id="progress">
      Latest versions:
    </h2>
 
  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Journey",
        classes: "govuk-!-width-one-fourth"
      },
      {
        text: "Links"
      },
      {
        text: "Notes",
        classes: "govuk-!-width-one-half"
      }
    ],
    rows: [
  [
    {
      html: "<p class='govuk-body'><b> Version 3 </b></p>"
    },
    {
      html: "<li><a href='version3/station/cheddar-5days'  class='govuk-body'>Cheddar Gorge pages V3</a> </li> "
    },
    {
      html: "<p class='govuk-body'>UR Test round 2 - Changes include fixes for mobile and time and date order</p>"
    }
  ] 
]

    
  }) }}
</section> 
   
  <h2 class="govuk-heading-m" id="progress">
  Previous versions:
</h2> 
   
 {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Journey",
        classes: "govuk-!-width-one-fourth"
      },
      {
        text: "Links"
         
      },
      {
        text: "Notes",
        classes: "govuk-!-width-one-half"
      }
    ],
    rows: [
  
  [
    {
      html: "<p class='govuk-body'><b> Version 2 </b></p>"
    },
    {
      html: "<li><a href='version2/station/cheddar-5days'  class='govuk-body'>Cheddar Gorge pages v2</a> </li> "
    },
    {
      html: "<p class='govuk-body'>Cheddar Gorge data to show historic data and chart zoom</p>"
    }
  ],
  [
    {
      html: "<p class='govuk-body'><b> Version 1</b></p>"
    },
    {
      html: " 
        <li class='govuk-body'><a href='version1/'  class='govuk-body'>Service Start page</a> and main pages </li>
       "
    },
    {
      html: "<p class='govuk-body'>Initial build to test prototype kit. </p>"
    }
  ],
  [
    {
      html: "<p class='govuk-body' width='25%'><b> Chart tests </b></p>"
    },
    {
      html: "<li><a href='version1/station/8209'  class='govuk-body'>Line chart</a>, <a href='version1/station/line-chart'  class='govuk-body'>Multi-line</a>, <a href='version1/station/bar-chart'  class='govuk-body'>Multi-bar chart</a>, <a href='version1/station/cheddar-5days'  class='govuk-body'>Cheddar Gorge page </a> </li> "
    },
    {
      html: "<p class='govuk-body'>Chart.js work - Pages displaying chart data, bar/line/area. Using a hosted CSV or option to upload own CSV.</p>"
    }
  ],
  [
    {
      html: "<p class='govuk-body'><b>Date filter test</b></p>"
    },
    {
      html: "<li><a href='date-test/pickdate' class='govuk-body' >Date filter test</a> </li> "
    },
    {
      html: "<p class='govuk-body'>Page to show the X gov date filter working. </p>"
    }
  ]
]

    
  }) }}
 
  </div>
</div>

{% endblock %}
